* {
    margin: 0;
    padding: 0;
}

.customer-container {
    padding: 0px;
}

.flashes h4 {
    line-height: 2;
    margin-top: 5px;
}

.cocktail-card-image {
    max-width: 100%;
    height: auto;
}

.landing-page-header {
    line-height: 2;
    margin-top: 5px;
    border-bottom: 2px solid black;
}

.landing-image {
    height: 100vh;
    max-width: 100%;

    background: url('/static/images/cocktail-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;
}

.jumbo-divider {
    background: white;
}

.jumbotron {
    background-color: transparent;
    color: white;
    margin-left: 60px;
    padding-left: 60px;
}

.jumbotron h1 {
    margin: 6px 0px;
}

.jumbotron .lead {

    margin: 6px 0px;
}

.sign-up-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.landing-page-text {
    display: flex;
    align-items: center;
}

.breakpoint-container {
    height: 70vh;
    max-width: 100%;

    background: url('/static/images/cocktail-collection.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;
}

.social-media-icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:auto;
}

.icons {
      color: black;
}

.dropdown-menu {
    min-width: fit-content;
}

.profile-btn {
    background-color: black;
    border: 0;
    border-radius: 23px;
    color: #fff;
}