* {
    margin: 0;
    padding: 0;
}

/* --Navbar --*/

/* .navbar {
    background-color: #;
} */

.navbar-toggler {
    border: solid 0.5px #f1f1ef;
    margin-left: auto;
}

.navbar-toggle-hamburger {
    color: #f1f1ef;
}

.navbar li {

}

.navbar .nav-link {
    color: #f1f1ef;  
    font-weight: 500;
    border-bottom: transparent 1px solid;
    margin-left: 4px;
    margin-right: 4px;
}

.navbar .nav-link:hover {
    color: #f1f1ef;   
    border-bottom: #f1f1ef 1px solid;
}

.dropdown {
    padding-right: 45px;
}

.dropdown-menu {
    min-width: fit-content;
    background-color: #343a40;
    color: #f1f1ef;
}

a.dropdown-item {
    color: #f1f1ef;
}

.profile-btn {
    background-color: #343a40;
    border: #f1f1ef solid 2px;
    border-radius: 23px;
    color: #f1f1ef;
}

/* -- Image containers --  */

.landing-image {
    height: 100vh;
    max-width: 100%;

    background: url('/static/images/cocktail-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;
}

.contact-container {
    height: 70vh;
    max-width: 100%;
    background: url('/static/images/cocktail-book.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;
}

.customer-container {
    padding: 0px;
}

.flashes h4 {
    line-height: 2;
    margin-top: 5px;
}

.cocktail-card-image {
    max-width: 100%;
    height: auto;
}

.landing-page-header {
    line-height: 2;
    margin-top: 5px;
    border-bottom: 2px solid black;
}



.jumbo-divider {
    background: white;
}

.jumbotron {
    background-color: transparent;
    color: white;
    margin-left: 60px;
    padding-left: 60px;
}

.jumbotron h1 {
    margin: 6px 0px;
}

.jumbotron .lead {

    margin: 6px 0px;
}

.sign-up-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.landing-page-text {
    display: flex;
    align-items: center;
}

.breakpoint-container {
    height: 70vh;
    max-width: 100%;

    background: url('/static/images/cocktail-collection.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;
}

.social-media-icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:auto;
}

.icons {
      color: #212529;
}


