* {
    margin: 0;
    padding: 0;
}

.flashes h4 {
    line-height: 2;
    margin-top: 5px;
}

.cocktail-card-image {
    max-width: 100%;
    height: auto;
}

.landing-page-header {
    line-height: 2;
    margin-top: 5px;
    border-bottom: 2px solid black;
}

.landing-image {
    height: 100vh;
    max-width: 100%;

    background: url('/static/images/cocktail-board.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
  }

  .sign-up-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }