{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-center mt-3 mb-3">
                Add Category
            </h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <p class="align-left mt-4 mb-4">
                Categories refer to the main spirit used in a cocktail.
                <br>
                If a cocktail uses more than one spirit please select the dominate spirit.
                <br>
                <br>
                <small>For example, Red/White Wine, White/Dark Rum etc </small>
            </p>
        </div>
        <div class="col-sm-12 col-md-8 d-flex mt-4 mb-3">
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title text-center">Category Name</h5>
                    <hr>
                    <form class="form-inline needs-validation" action="{{ url_for('add_category')}}" method="POST">
                        <div class="input-group mr-sm-2 mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-folder"></i></span>
                            </div>
                            <input type="name" name="category_name" class="form-control mr-sm-2" minlength="3"
                                maxlength="25" id="category_name" required>
                            <label for="category_name"></label>
                            <button type="submit" class="btn btn-outline-success mr-sm-2">
                                Add Category
                            </button>
                            <a href="{{ url_for('add_category' )}}" class="btn btn-outline-danger mr-sm-2">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 quick-links">
            <h4 class="bottom-border">Admin Quick Links</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{{ url_for('get_categories')}}" class="text-dark">View Categories</a>
                </li><li class="list-group-item">
                    <a href="{{ url_for('view_cocktails')}}" class="text-dark">View Cocktails</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ url_for('add_cocktail') }}" class="text-dark">Add Cocktail</a>
                </li>
                
            </ul>
        </div>
    </div>
</div>

{% endblock %}