{% extends "base.html" %}
{% block content %}


<div class="card">
    <div class="card-body">
        <h3 class="card-title text-center">Add Cocktail Categories</h3>
            <br>
            <form action="{{ url_for('add_category')}}" method="POST" class="needs-validation form-inline my-2 my-lg-0">
                <div class="col-sm-12 text-center">
                    <input type="name" name="category_name" class="form-control mr-sm-2" minlength="3" maxlength="25"
                        id="category_name" required>
                    <button class="btn btn-outline-success my-2 mr-sm-2 my-sm-0" type="submit">Add</button>
                    <a href="{{ url_for('add_category')}}"
                        class="reset-search btn btn-outline-danger my-2 mr-sm-2 my-sm-0">Cancel</a>
                    <label for="query"></label>
                </div>
            </form>
    </div>
</div>

{% endblock %}