{% extends "base.html" %}
{% block content %}



<!-- cocktail cards -->

<div class="row">
    {% for cocktail in cocktails %}
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card mt-3 mb-3">
            <div class="text-center">
                <h5 class="card-title">
                    <strong>{{ cocktail.cocktail_name }}</strong>
                    <br>
                    <small>- {{ cocktail.category_name }}</small>
                    <br>
                    <br>
                    <small>Servings: {{ cocktail.cocktail_serving }}</small>
                </h5>
                <p>{{ cocktail.category_name }}</p>
                <small><i class="fas fa-user"></i> {{ cocktail.created_by }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}