{% extends "base.html" %}
{% block content %}

<div class="container contact-page-container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h3 class="text-center mt-5 mb-3 pt-4 pb-2">Contact</h3>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <img src="{{url_for('static', filename='images/cocktail-collection.jpg')}}" class="img-fluid "
                    alt="cocktail-collection">
            </div>
            <div class="col-sm-12 col-md-4">
                <h4>Popular Today</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a
                            href="{{ url_for('view_cocktail', cocktail_id='60857f3583ef23e892fc401b') }}" class="text-dark">White
                            Russian</a></li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid contact-container mt-3 pt-4 pb-5">
    <div class="row mt-4">
        <div class="col-sm-12 col-lg-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Contact</h5>
                    <!-- Contact Form -->
                    <form class="col-sm-12 needs-validation" method="POST" action="" novalidate>
                        <div class="form-group">
                            <label for="username">Name</label>
                            <input type="text" class="form-control" id="contact-name" name="contact-name"
                                aria-describedby="contact-name" placeholder="Your Name" required>
                                <div class="invalid-feedback">
                                    Please enter your name.
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="contact-email">Email Address</label>
                            <input type="email" class="form-control" id="contact-email" placeholder="name@example.com"
                                name="contact-email" required>
                                <div class="invalid-feedback">
                                    Please enter a valid email address.
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="contact-message">Your Message</label>
                            <textarea class="form-control" id="contact-message" rows="3" minlength="5" required></textarea>
                            <div class="invalid-feedback">
                                Please enter a message.
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-success text-shadow mx-auto">
                                Send <i class="fas fa-envelope"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}