{% extends "base.html" %}
{% block content %}

<h3 class="text-center mt-3 mb-3">
    Edit Category
</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-12 d-flex">
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title text-center">Category Name</h5>
                    <hr>
                    <form class="form-inline  needs-validation"
                        action="{{ url_for('edit_category', category_id=category._id)}}" method="POST">
                        <div class="input-group mr-sm-2 mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-folder"></i></span>
                            </div>
                            <input type="name" name="category_name" class="form-control mr-sm-2" minlength="3"
                                maxlength="25" id="category_name" value="{{ category.category_name}}" required>
                            <label for="category_name"></label>
                            <button type="submit" class="btn btn-outline-success mr-sm-2">
                                Edit Category
                            </button>
                            <a href="{{ url_for('get_categories' )}}"
                                class="btn  btn-outline-danger mr-sm-2">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}