{% extends "base.html" %}
{% block content %}

<div class="container-fluid landing-image parallax">
    <div class="row">
        <div class="col-12">
            <!-- jumbotron -->
            <div class="jumbotron">
                <h1 class="display-4">Shake and Stir</h1>
                <p class="lead">The tastiest cocktails right at home</p>
                <hr class="jumbo-divider">
                <!-- shows browse cocktail button for logged in users -->
                {% if session.user %}
                    <a class="btn btn-outline-light" href="{{ url_for('view_cocktails') }}" role="button">Browse Cocktails</a>
                {% else %}
                <!-- shows join today/log in button for users not in session -->
                    <a class="btn btn-outline-light" href="{{ url_for('register') }}" role="button">Join Today</a>
                    <br>
                    <small class="mx-auto mt-2">
                        <a href="{{ url_for('login') }}" class="login-link ">Already a member? Log In</a>
                    </small>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Introduction text -->
<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-sm-12 text-center mb-2">
            <h2 class="landing-page-header">Embrace the spirits</h2>
        </div>
        <div class="col-sm-12 col-lg-6">
            <img src="{{url_for('static', filename='images/cocktail-collection.jpg')}}" class="img-fluid" alt="cocktail-collection">
        </div>
        
        <div class="col-sm-12 col-lg-6 landing-page-text">
            <p class="pt-2 mt-2">
                Making a cocktail is a creative practice; often shrouded in mystery, trial, and error. However, we
                believe that everyone can make delicious cocktails, right at home.
                <br>
                <br>
                Shake and Stir, was created to share the love of cocktails. It allows people to share their favorite
                cocktails, add creative spins on classic cocktails, or develop something entirely new.
                <br>
                <br>
                We believe that all good things should be shared. Once you create your cocktail, others can view your
                recipe, and try it at home.
                <br>
                <br>
                Whether you're a mixologist, or you've never tried a cocktail before, you'll be sure to have a satisfied
                pallet.
            </p>
        </div>
        <div class="col-sm-12 text-center mt-3">
            <a class="btn btn-outline-dark" href="{{ url_for('add_cocktail') }}" role="button">Add Cocktail</a>
        </div>
    </div>
</div>

<!-- Featured cocktail cards -->

{% if cocktails| length > 0 %}
<section class="darker-white-background">
    <div class="container pt-3">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center bottom-border feature-heading">Featured Today</h4>
            </div>
            {% for cocktail in cocktails %}
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card cocktail-cards border-secondary mt-3 mb-3 darker-white-background">
                    <!-- Cocktail Image -->
                    <img src="{{ cocktail.cocktail_img }}" class="card-img-top img-fluid" alt="cocktail-image">
                    <div class="text-center">
                        <!-- Cocktail Information -->
                        <h5 class="card-title mt-2"><a href="{{ url_for('view_cocktail', cocktail_id=cocktail._id) }}"
                                class="cocktail-cards-title text-dark">{{ cocktail.cocktail_name }}
                            </a>
                        </h5>
                        <p><small><i class="fas fa-cocktail"></i> {{ cocktail.category_name }}</small>
                            <br>
                            <small><i class="fas fa-sort-numeric-up-alt"></i> Servings:
                                {{ cocktail.cocktail_serving }}</small>
                            <br>
                            <small><i class="far fa-user"></i> {{ cocktail.created_by }}</small>
                        </p>
                        <a href="{{ url_for('view_cocktail', cocktail_id=cocktail._id) }}" 
                            class=" btn btn-dark mb-3">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <!-- Button to browse all cocktails -->
        <div class="col-sm-12 text-center mt-3 pb-4">
            <a href="{{ url_for('view_cocktails')}}" class="btn btn-outline-dark mx-auto">Browse All Cocktails</a>
        </div>
    </div>
</section>

{% endblock %}