{% extends "base.html" %}
{% block content %}

<div class="container-fluid landing-image">
    <div class="row">
        <div class="col-12">
            <!-- jumbotron -->
            <div class="jumbotron">
                <h1 class="display-4">Shake n Stir</h1>
                <p class="lead">The tastiest cocktails right at home</p>
                <hr class="jumbo-divider">
                <p>Feeling fancy?</p>
                <!-- shows browse cocktail button for logged in users -->
                {% if session.user %}
                    <a class="btn btn-outline-light" href="{{ url_for('view_cocktails') }}" role="button">Browse Cocktails</a>
                {% else %}
                <!-- shows join today/log in button for users not in session -->
                    <a class="btn btn-outline-light" href="{{ url_for('register') }}" role="button">Join Today</a>
                    <br>
                    <small class="mx-auto mt-2">
                        <a href="{{ url_for('login') }}" class="login-link">Already a member? Log In</a>
                    </small>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- call to action -->
<div class="container landing-page-content mt-3">
    <div class="row">
        <div class="col-sm-12">
            {% if session.user %}
                <h2 class="text-center landing-page-header mt-1">
                    Discover, Create, Share
                </h2>
            {% else %}
                <h2 class="text-center landing-page-header mt-1">
                    Join the Cocktail Community!
                </h2>
            {% endif %}
        </div>
    </div>
</div>

    <!-- cards which describe platform -->
<div class="container card-container">
    <div class="row mt-3">
        <div class="card-deck">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title cta-heading">Discover</h5>
                        <p class="card-text">
                            Discover delightful classics like the Old-Fashioned or modern classics like the delicious
                            Paper Plane. You'll be sure to find something tasty.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title cta-heading">Create</h5>
                        <p class="card-text">
                            Stir your creative side into classic recipes, or shake it up and make something entirely
                            new. We encourage the personal touch.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title cta-heading text-center">Share</h5>
                        <p class="card-text">
                            We believe that all good things should be shared. Once you create your cocktail, others can
                            view your recipe, and try it at home!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 text-center mt-3">
                <a class="btn btn-outline-dark" href="{{ url_for('add_cocktail') }}" role="button">Start Shaking</a>
            </div>
        </div>
    </div>
    <!-- browse cocktails button -->
    
</div>

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-sm-12 text-center mb-4">
            <h4>Embrace the spirits!</h4>
        </div>
        <div class="col-sm-12 col-md-6">
            <img src="{{url_for('static', filename='images/cocktail-collection.jpg')}}" class="img-fluid "alt="cocktail-collection">
        </div>
        
        <div class="col-sm-12 col-md-6 landing-page-text">
            <p>
                Making a cocktail is a creative practice; often shrouded in mystery, trial and error. However, we believe
                that everyone can make delicious cocktails, right at home.
                <br>
                <br>
                Shake n Stir, was created to share the love of cocktails. It allows people to share their favorite
                cocktails, create their own creative spins on classic cocktails, or develop something entirely new.
                <br>
                <br>
                We believe that all good things should be shared. Once you create your cocktail, others can view your
                recipe, and try it at home.
                <br>
                <br>
                Whether you're a mixologist, or you've never tried a cocktail before, you'll be sure to have a satisfied
                pallet.
            </p>
        </div>
    </div>
</div>

{% if cocktails| length > 0 %}
<!-- cocktail cards -->
<section class="featured-container">
    <div class="container pt-3">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center bottom-border feature-heading">Featured Today</h4>
            </div>
            {% for cocktail in cocktails %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card border-secondary mt-3 mb-3 cocktail-cards">
                    <img src="{{ cocktail.cocktail_img }}" class="card-img-top img-fluid" alt="cocktail-image">
                    <div class="text-center">
                        <h5 class="card-title">
                            <strong>{{ cocktail.cocktail_name }}</strong>
                            <br>
                        </h5>
                        <p><small><i class="fas fa-cocktail"></i> {{ cocktail.category_name }}</small>
                            <br>
                            <small><i class="fas fa-sort-numeric-up-alt"></i> Servings:
                                {{ cocktail.cocktail_serving }}</small>
                            <br>
                            <small><i class="far fa-user"></i> {{ cocktail.created_by }}</small>
                        </p>
                        <a href="{{ url_for('view_cocktail', cocktail_id=cocktail._id) }}" 
                            class=" btn btn-sm btn-outline-dark mb-3">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="col-sm-12 text-center mt-3 pb-4">
            <a href="{{ url_for('view_cocktails')}}" class="btn btn-outline-dark mx-auto">Browse All Cocktails</a>
        </div>
    </div>
</section>


{% endblock %}