{% extends "base.html" %}
{% block content %}

<div class="container py-5">
    <div class="row mt-4 mb-4">
        <div class="col-sm-12 col-lg-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Log In</h5>
                    <!-- Login Form -->
                    <form class="col-sm-12 needs-validation" method="POST" action="{{ url_for('login') }}"
                        novalidate>
                        <div class="form-group">
                            <!-- Username -->
                            <i class="fas fa-user-cog"></i>
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username"
                                aria-describedby="username" pattern="^[0-9a-zA-Z!@#$%^&*?]{5,25}$" minlength="5" maxlength="25"
                                required>
                            <div class="invalid-feedback">
                                Username and/or Password do not match.
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Password -->
                            <i class="fas fa-user-lock"></i>
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" minlength="5"
                                maxlength="25" pattern="^[0-9a-zA-Z!@#$%^&*?]{5,25}$" required>
                            <div class="invalid-feedback">
                                Username and/or Password do not match.
                            </div>
                        </div>
                        <!-- Submit button -->
                        <div class="text-center my-3 py-1">
                            <button type="submit" class="btn btn-outline-dark">
                                Log In <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </form>
                    <!-- Link to register account; if new user -->
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="mx-auto text-center">
                                New Here? <a href="{{ url_for('register')}}">Register Account</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}