{% extends "base.html" %}
{% block content %}

    <div class="row mt-4">
        <div class="col-sm-12 col-lg-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title mx-auto text-center">
                        {{ username }}'s Profile
                    </h3>
                    <div class="row">
                        <div class="col-sm-12 ">
                            <a class="nav-link" href="{{ url_for('add_cocktail')}}">Add Cocktail</a>
                            <a class="nav-link" href="{{ url_for('view_cocktails') }}">Browse Cocktails</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-center">Here you can manage the cocktails you've created.</h4>
            </div>
        </div>
    </div>


    <div class="container">
        <!-- cocktail cards -->
        <div class="row">
            {% for cocktail in cocktails %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card mt-3 mb-3">
                    <img src="{{ cocktail.cocktail_img }}" class="card-img-top img-fluid" alt="cocktail-image">
                    <div class="text-center">
                        <h5 class="card-title">
                            <strong>{{ cocktail.cocktail_name }}</strong>
                            <br>
                        </h5>
                        <p><small><i class="fas fa-cocktail"></i> {{ cocktail.category_name }}</small>
                            <br>
                            <small><i class="fas fa-sort-numeric-up-alt"></i> Servings:
                                {{ cocktail.cocktail_serving }}</small>
                            <br>
                            <small><i class="far fa-user"></i> {{ cocktail.created_by }}</small>
                        </p>
                    </div>
                    {% if session.user|lower == cocktail.created_by|lower %}
                    <a href="{{ url_for('edit_cocktail', cocktail_id=cocktail._id )}}" class="btn btn-sm btn-secondary">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a href="{{ url_for('delete_cocktail', cocktail_id=cocktail._id )}}" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash-alt"></i> Delete
                    </a>
                    {% endif %}
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}