{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row mt-4 pt-3 pb-3">
        <div class="col-sm-12 col-lg-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title mx-auto text-center">
                        Welcome {{ username }}
                    </h3>
                    <ul class="list-group list-group-flush profile-btns">
                        <li class="list-group-item profile-btns"><a href="{{ url_for('add_cocktail')}}" class="btn btn-outline-success mr-sm-2">Add Cocktail</a</li>
                        <li class="list-group-item profile-btns"><a href="{{ url_for('view_cocktails') }}" class="btn btn-outline-info mr-sm-2">Browse Cocktails</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-center">Manage your Cocktails</h4>
            </div>
        </div>
</div>


    <div class="container">
        <!-- cocktail cards -->
        <div class="row">
            {% for cocktail in cocktails %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card mt-3 mb-3 cocktail-cards">
                    <img src="{{ cocktail.cocktail_img }}" class="card-img-top img-fluid" alt="cocktail-image">
                    <div class="text-center card-body">
                        <h5 class="card-title">
                            <strong><a href="{{ url_for('view_cocktail', cocktail_id=cocktail._id) }}" class="text-dark">{{ cocktail.cocktail_name }}</a></strong>
                            <br>
                        </h5>
                        <p class="card-text"><small><i class="fas fa-cocktail"></i> {{ cocktail.category_name }}</small>
                            <br>
                            <small><i class="fas fa-sort-numeric-up-alt"></i> Servings:
                                {{ cocktail.cocktail_serving }}</small>
                            <br>
                            <small><i class="far fa-user"></i> {{ cocktail.created_by }}</small>
                        </p>
                        {% if session.user|lower == cocktail.created_by|lower %}
                            <a href="{{ url_for('edit_cocktail', cocktail_id=cocktail._id )}}" class="btn btn-sm btn-outline-success mr-sm-2">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <a href="{{ url_for('delete_cocktail', cocktail_id=cocktail._id )}}" class="btn btn-sm btn-outline-danger mr-sm-2">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row mt-4 pt-3 pb-3">
            <div class="col-sm-12 col-lg-4 mx-auto">
                        <h6 class="mx-auto text-center">
                            Manage Account
                        </h6>
                        <ul class="list-group list-group-flush mx-auto">
                            <li class="list-group-item profile-btns"><a href="{{ url_for('logout')}}" class="btn btn-sm btn-outline-warning mr-sm-2">Logout</a></li>
                            <li class="list-group-item profile-btns"><a href="#" class="btn btn-sm btn-outline-danger mr-sm-2">Delete Account</a></li>
                        </ul>
            </div>
        </div>
    </div>

{% endblock %}